

@font-face {
    font-family: 'netmarbleM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.1/netmarbleM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BCcardB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.1/BCcardB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


.wrap {
    
    max-width: 100vw;
    height: 100vmin;
    display: flex;
    align-items: center;
    justify-items: center;
}

.bg {
    
    background-image: url('./fox.jpg');
    background-size: 120% ;
    background-position: 70%;
    background-repeat: no-repeat;
    width: 100vw;
    height: 65vh;    
    z-index: 0;
}
.bgwrap{    
    background: linear-gradient(336deg, rgba(255, 255, 100, 0.53), rgba(255, 55, 144, 0.23));    
    z-index: 0;
    width: 100%;
    height: 100%;    
    transition: 0.5s ease-in-out;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: right;

}
.bgwrap:hover{ 
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 0;
}
.Midtext1 {
    font-family: 'BCcardB';
    color: #FFF;
    font-size: 4rem;
    padding: 0;
    margin: 0 auto;

}
.Midtext2 {
    font-family: 'netmarbleM';
    font-size: 1.4rem;
    color: #FFF;
}
.smallfont {
    margin-top: 0;
    color:#FFF;
    font-family: 'netmarbleM';
    font-size: 1.2rem;
}
.Bottomtext{
    float: right;
}
#btn1 {
    background: rgba(150, 250, 150, 0.2);
    border: 0;
    padding: 1.4rem 110px 1.4rem 110px;
    color:#FFF;
    font-family: 'netmarbleM';
    font-size: 1.25rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: 1s ease;

}
#btn1:hover {
font-size: 1.5rem;
}

