/* 메뉴 */

@font-face {
    font-family: 'SBAggroL';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroL.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



a {
  text-decoration: none;
}
.navmenu {
  font-family: 'SBAggroL';
  background-color: rgba(0, 0, 0, 0.6);
  max-width: 100vw;
  display: flex;
  align-items: center;
  height: 100px;
  box-sizing: border-box;
  padding: 0;
  margin: 0px auto;
  z-index: 999;
  
}
.temp {
  line-height: 100px;
  width: 10vw;
  text-align: center;

}
.navmenu ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  width: 75vw;
  padding: 0;
  text-align: center;
  
}
.navmenu li {
  color: #FFF;
  width: 10%;
  height: 100px;
  line-height: 100px;
}
.navmenu li:hover {
    border-bottom: 5px solid red;
    transform: translateY(5px);


}
.nav-link {
  color: #FFF;
  border-radius: 10px;
  padding: 10px;
}


.nav-link:hover {    
  transform: translateY(5px);
  background-color: #99ACE9;
  transition: 0.2s ease-out;
}

/* 드롭다운 */
#dropspan {
    font-variant : small-caps;
    cursor : pointer;
    display: block;
  }
  

#dropspan::after {
    float: right;
    right: 10%;
    content: "+";
  }

   .drops {
    width:100%;
    height:0px;
    overflow: hidden;
    text-align: center;
    transition: height .4s ease;
    display: flex;
    flex-direction: column;
  }

#dropchk {position: absolute; opacity: 0; height: 0px;}    
#dropchk:checked + .drops {
  height: 300px;     
  z-index: 999;
} 



@media screen and (max-width: 1024px){
  html,body {
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
  width: 1024px;
  
}
#mobiles {
  content: "모바일모드 안됨";
}

.navmenu {
  max-width: 1024px;
  display: flex;
  align-items: center;
  height: 100px;
  box-sizing: border-box;
  padding: 0;
  margin: 0px auto;
  z-index: 999;
  white-space: nowrap;
  text-overflow: ellipsis;

  
}

};